<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArduinoCommandPromt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
 
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  
      
      
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArduinoCommandPromt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>

  
    </configSections>
  <log4net configSource="log4net.config" />
 
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ArduinoCommandPromt.Properties.Settings>
            <setting name="LastDialogOpenLocation" serializeAs="String">
                <value>c:\</value>
            </setting>
        </ArduinoCommandPromt.Properties.Settings>
    </userSettings>



    <applicationSettings>
        <ArduinoCommandPromt.Properties.Settings>
            <setting name="DeviceStopSequenceFile" serializeAs="String">
                <value>DeviceStopSequenceFile.d </value>
            </setting>
            <setting name="DeviceTimoutSeconds" serializeAs="String">
                <value>60</value>
            </setting>
        </ArduinoCommandPromt.Properties.Settings>
    </applicationSettings>
</configuration>
